[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sqlalchemy = "*"
python-dotenv = "*"
pydantic-settings = "*"
asyncpg = "*"
psycopg2-binary = "*"
dune-client = "*"
streamlit = "*"
plotly = "==5.24.1"
celery = "*"
flower = "*"
kombu = "*"
redis = "*"
billiard = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
